.container-input-contact{
    position: absolute;
    width: 100%;
    height: 50%;
}
.container-logo-contact{
    background-color: var(--text);
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
}

#text-contact{
    position: absolute;
    color: var(--background-header);
    width: 80%;
    height: 50%;
    left: 10%;
    right: 10%;
    top: 45%;
    text-align: center;
    font-weight: bolder;
}

.copyright{
    text-align: center;
    padding: 0;
    margin: 0git;

}